
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    Transient : @ViewBag.Transient;
</p>


<p>
    Transient1 : @ViewBag.Transient1;
</p>

<p>
    Scope : @ViewBag.Scope;
</p>


<p>
    Scope1 : @ViewBag.Scope1;
</p>


<p>
    Singleton : @ViewBag.Singleton;
</p>
 


          

